#point {
    white-space: nowrap;
    display:inline-block;
    padding-left: 5px;
}

#coords {
    white-space: nowrap;
    display:inline-block;
    padding-left: 5px;
}

#view-container {
    position: relative;
    width: 900px;
    height: 500px;
}

#view {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 900px;
    height: 500px;
    z-index: 20;
    pointer-events: all;
    background: none;
    margin: 0;
    padding: 0;
    border: 1px solid #909090;
}

#back {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 900px;
    height: 500px;
    z-index: 10;
    background: #e0e0e0;
    margin: 0;
    padding: 0;
}

#debug {
    font-size: 75%;
}

line,path { transition: stroke-opacity .4s ease; }
